body{
    background-color: #fdfcdc;
    text-align: center;
}
.container{
  height:70vh;
  justify-content: center; 
  align-items: center;
    display: flex;
    flex-direction: column;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap:1.5vmin;  
  
}

.title{
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 10vmin;;
   
}
.box{
    width: 18vmin;
    height: 18vmin;  
    font-size: 10vmin;
    background-color: #00afb9; 
    border-radius: vmin;
    color:black;
}
.reset{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00afb9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;;
}
.reset:hover{
    background-color: #007f85;
}
.box:hover{
    background-color: #94d2bd;
    cursor: pointer;
}

